

#header { background-image: url(../../img_02/02.jpg); background-repeat: repeat-x; height: 43px; width: auto; padding-right: 20px; padding-left: 20px; }

#header_left { float: left; height: 43px; width: 300px; line-height: 43px; }
#header_right { height: 43px; margin-left: 300px; text-align: right; }
#header_menu {
	background-image: url(../../img_02/02.jpg);
	background-repeat: repeat-x;
}

#header_exit { float: right; height: 43px; width: 114px; line-height: 40px; text-align: right; }
.exit { height: 40px; width: 60px; line-height: 40px; color: #99A7BD; text-align: right; background-image: url(../../img_02/menu_04.jpg); background-repeat: no-repeat; background-position: right 0px; padding-top: 3px; text-decoration: none; display: block; float: right; }
.exit:hover {
	height: 40px;
	width: 60px;
	line-height: 40px;
	color: #BECADC;
	text-decoration: none;
	display: block;
	background-image: url(../../img_02/menu_04.jpg);
	background-repeat: no-repeat;
	background-position: left -43px;
}

#main_nav { line-height: 43px; text-align: right; height: 43px; width: 486px; float: left; }
#main_nav a{ 
		text-decoration:none; 
		color:#999; 
	}
#main_nav ul{
		list-style: none;
		display: block;
	}
#main_nav ul li{
		list-style:none;
		display:inline;
		float: right;
	}
#main_nav ul li a{
	display: inline-block!important;
	overflow: hidden;
	height: 43px;
	line-height:43px;
	width: 128px;
	white-space:nowrap;
	text-align:left;
	font-size: 12px;
	color: #99A7BD;
	}
#main_nav ul li a p {
		display: block;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 60px;
		margin: 0px;
	}
#main_nav ul li a.home {
		background:url(../../img_02/menu_01.jpg) top left no-repeat;
	}
#main_nav ul li a.blog {
		background:url(../../img_02/menu_02.jpg) top left no-repeat;
	}
#main_nav ul li a.services {
		background:url(../../img_02/menu_03.jpg) top left no-repeat;
	}

	
