.divCss {
	padding: 0px;
	height: 0px;
	overflow: hidden;
	position: absolute;
}

#msg { height: 190px; width: 300px; background-image: url(../images/msg.png); background-repeat: no-repeat; background-position: left top; }
#msg_title { height: 41px; width: 300px; }
#msg_title_left { height: 41px; width: 245px; float: left; }
#msg_title_right { height: 38px; width: 43px; float: right; padding-right: 12px; padding-top: 3px; }
.close { background-image: url(../images/close.jpg); background-repeat: no-repeat; background-position: left top; }
.close:hover { background-image: url(../images/close.jpg); background-repeat: no-repeat; background-position: left -21px; cursor: pointer; }
#msg_content { height: 149px; width: 300px; }
#msg_content h3 { font-family: "Î¢ÈíÑÅºÚ"; font-size: 15px; font-weight: bold; height: 30px; width: 252px; padding-top: 9px; margin-right: auto; margin-left: auto; display: block; line-height: 30px; padding-bottom: 5px; }
#msg_content h3 a { color: #29363E; text-decoration: none; }
#msg_content h3 a:hover { color: #29363E; text-decoration: underline; }
#msg_content_text { font-family: "Î¢ÈíÑÅºÚ"; font-size: 14px; height: 86px; width: 252px; margin-right: auto; margin-left: auto; display: block; line-height: 21px; }
#msg_content_text a { text-decoration: none; color: #29363E; }
#msg_content_text a:hover { font-family: "Î¢ÈíÑÅºÚ"; line-height: 21px; text-decoration: underline; color: #29363E; }