<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>  
    </init-param>
    <init-param>  
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>  
    <load-on-startup>0</load-on-startup>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>action</servlet-name>
	    <url-pattern>*.do</url-pattern>
	  </servlet-mapping>
	  <welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	  </welcome-file-list>
	  <filter>
  	<filter-name>encode</filter-name>
  	<filter-class>com.agents.filter.EncodeFilter</filter-class>
  	<init-param>
  		<param-name>encodetype</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encode</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
    <filter-mapping>
  	<filter-name>encode</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
    <filter-mapping>
  	<filter-name>encode</filter-name>
  	<url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.agents.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
<!--   <filter>-->
<!--    <filter-name>loginFilter</filter-name>-->
<!--    <filter-class>com.agents.filter.CheckLoginFilter</filter-class>-->
<!--   </filter>   -->
<!--  <filter-mapping>-->
<!--    <filter-name>loginFilter</filter-name>-->
<!--    <url-pattern>*.jsp</url-pattern>-->
<!--  </filter-mapping>-->
<!--  -->
   <servlet>
    <servlet-name>AgentPageAction</servlet-name>
    <servlet-class>com.agents.servlet.AgentPageAction</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>AgentPageAction</servlet-name>
    <url-pattern>/agentPage.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>emailJumpServlet</servlet-name>
    <servlet-class>com.agents.servlet.emailJumpServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>emailJumpServlet</servlet-name>
    <url-pattern>/jump.do</url-pattern>
  </servlet-mapping>   
  
    <servlet>
    <servlet-name>downloadfile</servlet-name>
    <servlet-class>com.agents.util.DownloadFile</servlet-class>
  </servlet>  
  <servlet-mapping> 
    <servlet-name>downloadfile</servlet-name>
    <url-pattern>/downloadfile</url-pattern>
  </servlet-mapping>
           
   <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.agents.servlet.LoginOutServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.agents.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet>-->
<!--    <servlet-name>MainServlet</servlet-name>-->
<!--    <servlet-class>com.agents.servlet.MainServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>MainServlet</servlet-name>-->
<!--    <url-pattern>/main</url-pattern>-->
<!--  </servlet-mapping>-->
    <servlet>
    <servlet-name>randomservlet</servlet-name>
    <servlet-class>com.agents.servlet.RandomServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>randomservlet</servlet-name>
    <url-pattern>/rs</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>checkcodeservlet</servlet-name>
    <servlet-class>com.agents.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkcodeservlet</servlet-name>
    <url-pattern>/checkcodeservlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>checkCode</servlet-name>
    <servlet-class>com.agents.bean.CheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCode</servlet-name>
    <url-pattern>/checkCode</url-pattern>   
  </servlet-mapping>  
  <servlet>      
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>com.agents.servlet.SendEmailServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>    
    <url-pattern>/sendEmailServlet</url-pattern>  
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>    
  </welcome-file-list>
  <session-config>      
    <session-timeout>60</session-timeout> 
  </session-config>
  <error-page>
    <exception-type>org.hibernate.exception.SQLGrammarException</exception-type>
    <location>/error.jsp</location>  
  </error-page>  
  <error-page>       
 	<error-code>500</error-code>
 	<location>/error.jsp</location>
  </error-page> 
  <error-page> 
 	<error-code>404</error-code>
 	<location>/error.jsp</location>  
  </error-page>
</web-app>