* { margin: 0px; padding: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
body { font-family: "宋体"; font-size: 12px; color: #585858; background-color: #FFFFFF; background-image: url(/orderfc/images/content_bj.gif); background-repeat: repeat; }
.clear { font-size: 0px; line-height: 0px; clear: both; height: 0px; visibility: hidden; }

/* 字体定义*/
.ft_01{
	font-size: 14px;
	font-weight: bold;
	color: #D84600;
}
.ft_02{
	font-size: 14px;
	color: #333333;
}
.ft_03{
	font-size: 12px;
	color: #666666;
}
/* 链接定义*/
.lk{
	background-image: url(/orderfc/images/back.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 80px;
}
.lk:hover{
	background-image: url(/orderfc/images/back.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 80px;
	background-position: 0px -27px;
}
/* 框架定义*/
#centent_error {
	height: 287px;
	width: 952px;
	background-image: url(/orderfc/images/error.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
