<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>encodingfilter</filter-name>
  <filter-class>com.dhtx.sign.util.EncodingFilter</filter-class>
 </filter>
 <listener>
  <listener-class>com.dhtx.sign.servlet.app.CreateSignListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateOrder</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.CreateOrder</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PayOrder</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.PayOrder</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ModifyOrderState</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.ModifyOrderState</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PayOrderFinish</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.PayOrderFinish</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreatePicture</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.app.CreatePicture</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>NoticePicFinish</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.app.NoticePicFinish</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PlanSignServlet</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.page.PlanSignServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>OrderListServlet</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.page.OrderListServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SignListServlet</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.page.SignListServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SignServlet</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.page.SignServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DownloadFileServlet</servlet-name>
  <servlet-class>com.dhtx.sign.servlet.page.DownloadFileServlet</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>TestDownLoad</servlet-name>
    <servlet-class>com.dhtx.sign.servlet.page.TestDownLoad</servlet-class>
  </servlet>

 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateOrder</servlet-name>
  <url-pattern>/CreateOrder</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PayOrder</servlet-name>
  <url-pattern>/PayOrder</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModifyOrderState</servlet-name>
  <url-pattern>/ModifyOrderState</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PayOrderFinish</servlet-name>
  <url-pattern>/PayOrderFinish</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreatePicture</servlet-name>
  <url-pattern>/CreatePicture</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>NoticePicFinish</servlet-name>
  <url-pattern>/NoticePicFinish</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PlanSignServlet</servlet-name>
  <url-pattern>/PlanSignServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OrderListServlet</servlet-name>
  <url-pattern>/OrderListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SignListServlet</servlet-name>
  <url-pattern>/SignListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SignServlet</servlet-name>
  <url-pattern>/SignServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownloadFileServlet</servlet-name>
  <url-pattern>/DownloadFileServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestDownLoad</servlet-name>
    <url-pattern>/TestDownLoad</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
