/*头部*/
* { margin: 0px auto; padding: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
.font0 { color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
.font1 {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555555;
}
.font2 {
	font-size:14px;
	color: #525252;
}
.font3 {
	font-size:12px;
	color: #000000;
	font-weight: bold;
}
.font4{
	font-size:12px;
	color: #000000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.font5{
	font-size:14px;
	color: #000000;
	font-weight: bold;
}
.c
.clear { font-size: 0px; line-height: 0px; clear: both; height: 0px; visibility: hidden; }
/*链接*/
.link1 {
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	line-height: 26px;
	background-image: url(../7.jpg);
	height: 29px;
	width: 191px;
	background-repeat: no-repeat;
	text-indent: 4px;
}
.link1:hover {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	line-height: 26px;
	background-image: url(../7.jpg);
	height: 29px;
	background-repeat: no-repeat;
	width: 191px;
	text-indent: 4px;
}
.link2 {
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	line-height: 26px;
	background-image: url(../5.jpg);
	height: 32px;
	width: 115px;
	background-repeat: no-repeat;
	text-indent: 4px;
}
.link2:hover {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	line-height: 26px;
	background-image: url(../5.jpg);
	height: 32px;
	background-repeat: no-repeat;
	width: 115px;
	text-indent: 4px;
}
.link3 { text-decoration: none; background-image: url(../6.jpg); height: 32px; width: 88px; background-repeat: no-repeat; }
.link3:hover { background-image: url(../6.jpg); height: 32px; background-repeat: no-repeat; width: 88px; }

.link4 { font-size: 12px; color: #ffffff; text-decoration: none; font-family: arial, helvetica, sans-serif; }
.link4:hover { font-size: 12px; color: #ffffff; text-decoration: underline; }
.link5 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.link5:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}
.link6 {
	font-size: 12px;
	color: #3287C8;
	text-decoration: none;
	font-weight: lighter;
}
.link6:hover {
	font-size: 12px;
	color: #3287C8;
	text-decoration: underline;
}
.link7 {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: lighter;
}
.link7:hover {
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
}
.link8 {
	font-size: 14px;
	color: #235B8E;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
.link8:hover {
	color: #235B8E;
	text-decoration: none;
}
.aniu07 { background-image: url(../01.gif); background-repeat: no-repeat; height: 24px; width: 60px; text-align: center; line-height: 24px; color: #454545; }
.aniu07:hover { background-image: url(../01.gif); background-repeat: no-repeat; color: #000000; background-position: left -24px; line-height: 24px; }
/*头部样式*/

#header_menu { width:100%; height: 70px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; line-height: 70px; }
#header_admin { float:right; width:78px; height:38px; padding-top: 16px; }
#header_exit { margin-right:78px!important; margin-right:66px; height:38px; text-align: right; color: #C3E0FB; padding-top: 16px; }
#header_exit span { height: 38px; margin-right: 25px; margin-left: 16px; display: block; float: right; line-height: 38px; }
.menu_01 { text-decoration: none; background-image: url(../img_01/menu_01.jpg); height: 38px; width: 37px; background-position: left top; }
.menu_01:hover { text-decoration: underline; background-image: url(../img_01/menu_01.jpg); background-position: left 38px; }
.menu_02 { text-decoration: none; background-image: url(../img_01/menu_02.jpg); height: 38px; width: 37px; background-position: left top; }
.menu_02:hover { text-decoration: underline; background-image: url(../img_01/menu_02.jpg); background-position: left 38px; }
.menu_03 { text-decoration: none; background-image: url(../img_01/menu_03.jpg); height: 38px; width: 37px; background-position: left top; }
.menu_03:hover { text-decoration: underline; background-image: url(../img_01/menu_03.jpg); background-position: left 38px; }

.search_txt_01 { background-color: #F4F4F4; height: 20px; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #aaaaaa; border-bottom-color: #ffffff; border-left-color: #aaaaaa; line-height: 20px; background-position: 8px; color: #6D6D6D; font-family: Arial, Helvetica, sans-serif; text-indent: 10px; border-right-width: 1px; border-right-style: solid; border-right-color: #f4f4f4; }

.bg_01 {
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
}
.bk02 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DCDCDC;
	font-size: 12px;
	color: #585858;
}
.bg_03 {
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
}
.bg_04 {
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	color: #333333;
}
.bg_05 {
	
	background-image: url(../27.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
