td {
	font-size: 12px;
	line-height: 1.5;
}
body {
	margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-size: 12px;color:#333333;text-decoration: none;line-height:1.8;; 
	SCROLLBAR-FACE-COLOR: #C3C3C1;
	SCROLLBAR-HIGHLIGHT-COLOR: #C3C3C1;
	SCROLLBAR-SHADOW-COLOR:#C3C3C1;
	SCROLLBAR-3DLIGHT-COLOR: #C3C3C1;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #F0F0EE;
	SCROLLBAR-DARKSHADOW-COLOR: #F0F0EE;
	background-image: url(../bg.jpg);
	background-repeat: repeat-x;
	
}
.font1 {
	color: #666666;
	font-size: 12px;
	letter-spacing: 1.5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
.font2 {
	font-size:14px;
	padding-left:5px;
	color:#BA0101;
	font-weight: bold;
}
.font3 {
	color: #666666;
	font-size: 14px;
	line-height: 23px;
}
.font4 {
	color: #BA0101;
	font-size: 12px;
}
.font5 {
	color: #333333;
	font-size: 12px;
	padding-left: 43px;
}
.font6 {color: #555555}

.link1 {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.link1:hover {
	font-size: 12px;
	color: #0F6FA1;
	text-decoration: underline;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.link2 {
	font-size: 15px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	line-height: 27px;
	background-image: url(../a11.jpg);
	border: 1px solid #333333;
	height: 27px;
	width: 150px;
	background-repeat: no-repeat;
	padding-left: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.link2:hover {
	font-size: 15px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	line-height: 27px;
	background-image: url(../a11a.jpg);
	border: 1px solid #AD180F;
	height: 27px;
	width: 150px;
	background-repeat: no-repeat;
	padding-left: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.link3 {
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	line-height: 27px;
	background-image: url(../a12.jpg);
	border: 1px solid #333333;
	height: 27px;
	width: 150px;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.link3:hover {
	font-size: 10px;
	color: #333333;
	font-weight: normal;
	line-height: 27px;
	background-image: url(../a12a.jpg);
	border: 1px solid #AD180F;
	height: 27px;
	background-repeat: no-repeat;
	width: 150px;
	padding-left: 30px;
}

.link4 {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	line-height: 27px;
	background-image: url(../a13.jpg);
	border: 1px solid #333333;
	height: 27px;
	width: 81px;
	background-repeat: repeat-x;
	padding-left: 10px;
}

.link4:hover {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	line-height: 27px;
	background-image: url(../13a.jpg);
	border: 1px solid #AD180F;
	height: 27px;
	width: 81px;
	background-repeat: repeat-x;
	padding-left: 10px;
}
.link5 {
	font-size: 12px;
	color: #BA0101;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.link5:hover {
	font-size: 12px;
	color: #BA0101;
	text-decoration: underline;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.search_txt {
	background-color: #FFFFFF;
	color: #333333;
	font-family: "ו";
	font-size: 12px;
	height: 16px;
	border: 1px solid #BECFD6;
	line-height: 16px;
}
.line_up {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
}
