*{margin: 0px;padding: 0px;}
body {margin-left: 0px;	margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-size: 12px;}
.clear{font-size: 0px;line-height: 0px;clear: both;height: 0px;visibility: hidden;}
.font1 {
	color: #AECDE2;
	font-size: 12px;
	}
.font2 {
	font-size:12px;
	padding-left:5px;
	color:#DA0318;
	font-weight: bold;
}
.font3 {
	color: #FFFFFF;
	font-size: 12px;
}

	.font111 {
		color: #444444;
		font-size: 12px;
		padding-top: 6px;
	}
	.font112 {
	color: #003466;
	font-size: 14px;
	margin-left: 10px;

}


.font4 {
	color: #5E81A7;
	font-size: 12px;
}
.font5 {
	color: #446A93;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.font6 {
	color: #7c7c7c;
}
.font7 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
.font8 {
	color: #color: #1E5494;;
	font-size: 14px;
	font-weight: bold;
	color: #415267;
}
.font9 {
	color: #1E5494;
	font-size: 14px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	}
.font10 {
	color: #ffffff;
	font-size: 12px;
	font-family: "Î¢ÈíÑÅºÚ";
}
.font11 {
	color: #C6996B;
	line-height: 14px;
	font-size: 12px;
}
.font12 {
	color: #9B7643;
	font-weight: normal;
}
.font13{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#A3A3A3; font-weight:bold;}
.font14 {font-size:14px; font-weight:bold; color:#339999;}
.font10 {
	color: #000000;
	font-size: 12px;
	font-family: "Î¢ÈíÑÅºÚ";
}
.link1 {
	font-size: 12px;
	color: #45617F;
	text-decoration: none;
}

.link1:hover {
	font-size: 12px;
	color: #9D0038;
	text-decoration: underline;
}
.link2 {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.link2:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}
.link3 {
	font-size: 12px;
	color: #FAFCFE;
	text-decoration: none;
}

.link3:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}
.link4 {
	line-height: 23px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #415267;
	cursor: hand;
}
.link4:hover {
	line-height: 23px;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
}

.link5 {
	font-size: 14px;
	color: #1E5494;
	text-decoration: none;
	margin-left: 45px;
}

.link5:hover {
	font-size: 14px;
	color: #9D1E17;
	text-decoration: none;
}
.link6 {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	}
.link6:hover {
	font-size: 12px;
	color: #017A75;
	text-decoration: none;
}

.link7 {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}

.link7:hover {
	font-size: 12px;
	color: #7FB116;
	}
.space8 {
	padding-left: 60px;
}

.link8 { color:#3670BA; text-decoration:none; font-weight:bold; }
.link8:hover {
	color:#3670BA;
	text-decoration:none;
	font-weight:bold;
	font-size: 12px;
}
.link9 { text-decoration:none;font-size:14px; font-weight:bold; color:#148B87; }
.link9:hover {  text-decoration:underline;font-size:14px; font-weight:bold; color:#148B87;}
.font13 {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 12px;
	color: #6E6C6D;
	font-weight: bold;
}

.card_center {
	border: 1px solid #DAE1E7;
	padding: 1px;
}
.card_left {
	background-image: url(../8.jpg);
	background-repeat: repeat-x;
	background-position: top;
}


.line_down {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d5d5d5;
}
.line_down01 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BACBDA;
}
.line_left {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CDECFF;
}
.line01 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D4DDE5;
}
.line02 {
	background-image: url(../11.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.line03 {
	background-image: url(../12.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
/**/

#nav {
	padding: 0px;
	height: auto;
	width: 218px;
}
#nav dl {
	list-style-type: none;
	display: block;
}
#nav dt {
	height: 38px;
	width: auto;
	padding-left: 25px;
	display: block;
	line-height: 38px;
	margin-bottom: 8px;
	background-repeat: no-repeat;
	background-image: url(../22.jpg);
	background-position: 6px;
}
#nav dt p {
	display: block;
	float: left;
	height: 23px;
	width: 23px;
	margin-right: 15px;
	margin-top: 7px;
}
#nav dt h4 {
	line-height: 23px;
	display: block;
	float: left;
	margin-right: 38px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
}
#nav dt a {
	line-height: 23px;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #415267;
	width: 150px;
	cursor: hand;
}
#nav dt a:hover {
	line-height: 23px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
}
#nav dt span {
	line-height: 23px;
	height: 23px;
	display: block;
	width: 7px;
	float: left;
	cursor: hand;
}
#nav dd {
	height: auto;
	width: auto;
	margin-left: 63px;
	line-height: 21px;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}
#nav ul {
	list-style-type: none;
}
#nav li a {
	height: 23px;
	width: auto;
	line-height: 23px;
	display: block;
	font-size: 14px;
	color: #454545;
	text-decoration: none;
}
#nav li a:hover {
	height: 23px;
	width: auto;
	line-height: 23px;
	display: block;
	font-size: 14px;
	color: #e00012;
	text-decoration: none;
}
/**/

.t1 {
	height: 20px;
	border: 1px solid #6D92AD;
}
.t2 {
	border: 1px solid #6D92AD;
}
    .cards02 {
	background-image: url(../7_111.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	}

		.font333 {
	color: #003366;
	font-size: 14px;
	font-weight: bold;
	padding-left: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
	.font777 {
	color: #003366;
	font-size: 14px;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;

}
	.font999 {
	color: #B80202;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
	.link13 {
		font-size: 14px;
		color: #00468C;
		text-decoration: none;
	}